.Event {
	display: flex;
	flex-direction: column;
	justify-content: center;
	background: white;
	color: #303132;
	width: 90%;
	margin: 5px auto;
	padding: 0.5em;
}

.Event > * {
	margin: 10px auto;
}

.Event-Name {
	align-self: left;
	width: 98%;
	border-bottom: 1px solid #ddd;
}
