/* .main {
    background: #E5E6E4;
  } */

.Expenses {
	margin: 20px auto;
	width: 80%;
}
.expenses-intro {
	padding: 20px;
	text-align: center;
	border-radius: 25px;
	margin: 20px 50px;
	font-size: 24px;
}

.bills-headings {
	padding: 10px;
	background-color: #00c9a7;
	color: #fff;
	font-size: 28px;
}
.dropdown {
	margin: 20px auto;
	width: 75vw;
}
.header {
	cursor: pointer;
	padding: 15px;
	border: 1px solid #ffbb00;
	color: #444444;
	font-family: verdana;
	border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;
	margin: 0 auto;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
span {
	float: right;
}
.content3 {
	cursor: pointer;
	border-radius: 0 0 5px 5px;
	padding: 5px;
	font-family: verdana;
	font-size: 14px;
	transition: max-height 0.2s ease-out;
}

.box {
	display: flex;
	justify-content: space-between;
	margin: 5px;
	border-radius: 30px;
}
p {
	display: inline-block;
	margin-left: 50px;
}
.expense-input {
	outline: none;
	width: 100px;
	border: 1px solid grey;
	margin-right: 50px;
}
.box-lifestyle {
	display: flex;
	justify-content: space-between;
	margin: 5px 10%;
	/* background: #3E5C76; */
	border: 1px solid #444444;
	color: #444444;
	background: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2);
}
i {
	color: #ffbb00;
}
.expenses-submit {
	margin: 20px 45%;
	font-size: 18px;
	border-radius: 5px;
	padding: 10px 30px;
	width: 150px;
	background: #ffbb00;
	color: #fff;
	font-weight: 700;
	border: 1px solid #fff;
}
