.sidebar {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #00c9a7;
  overflow-x: hidden;
  box-shadow: 2px 2px 2px 2px #888888;
}
.nav-header {
  height: 100px;
  background-color: #ffbb00;
  margin-bottom: 20px;
  text-align: center;
  color: #444444;
  font-weight: bolder;
  /* background-image: url(https://images.pexels.com/photos/47344/dollar-currency-money-us-dollar-47344.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: contain; */
}

.sidebar-nav {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #444444;
  display: block;
  margin-top: 50px;
}

.fa {
  display: inline-block;
  text-decoration: none;
  width: 20px;
  margin: 5px;
}

/* icon plus content */
.sidebar a {
  text-decoration: none;
  color: #444444;
  display: block;
  font-weight: bold;
  font-family: 'Roboto', sans-serif;
}

.sidebar a:hover, .fa:hover {
  color: #8a8787;
}


/* Add media queries for small screens (when the height of the screen is less than 450px, add a smaller padding and font-size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}