.container {
	display: flex;
}

.content {
	text-align: center;
	margin: 25vh auto;
	padding: 30px;
	border-radius: 30px;
	background: #00c9a7;
	color: #ffffff;
	max-width: 60%;
}

input {
	padding: 5px;
	margin: 10px;
	font-size: 14px;
	/* border-radius: 5px; */
	border-style: solid;
	border-color: rgb(255, 255, 255);
	width: 300px;
	text-align: center;
}
