* {
	margin: 0;
}
.App {
	display: grid;
	grid-template-rows: auto;
	grid-template-columns: 160px auto;
	background-color: #F2F5F7;
	min-height: 100vh;

}

.App-Nav {
	grid-row: 1 / 2;
	grid-column: 1 / 2;
}

.App-Main {
	grid-row: 1 / 2;
	grid-column: 2 / 3;
}
